# Maven build folder
target/
*.jar
*.war
*.zip
*.tar.gz

# IDE and Editor Files
.idea/
*.iml
.vscode/
*.sublime-project
*.sublime-workspace
.settings/
.project
.classpath
.factorypath

# Node / Frontend
sito-frontend/node_modules/
sito-frontend/dist/
sito-frontend/.env.local
sito-frontend/.env.development.local
sito-frontend/.env.test.local
sito-frontend/.env.production.local
sito-frontend/npm-debug.log*
sito-frontend/yarn-debug.log*
sito-frontend/yarn-error.log*
sito-frontend/pnpm-debug.log*

# System Files
Thumbs.db
Desktop.ini
.DS_Store
